
.icon-down:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-vk:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */